.btn {
  display: inline-block;
  min-width: 250px;
  padding: 15px 30px;
  background-color: $color-accent;
  font-family: inherit;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 rgba($color-accent, .5);
  transition: all .3s;

  &:hover {
    box-shadow: 0 4px 0 rgba($color-accent, .5);
    transform: translateY(-4px);
  }

  &:active {
    box-shadow: 0 0 0 rgba($color-accent, .5);
    transform: translateY(0);
  }
}

.btn-form {
  width: 100%;
}

.btn-mobile {
  display: none;

  @media (max-width: $df-mobile) {
    display: inline-block;
  }
}

.btn-tablet {
  @media (max-width: $df-mobile) {
    display: none;
  }
}
