.btn {
  display: inline-block;
  min-width: 250px;
  padding: 15px 30px;
  background-color: $color-accent;
  font-family: inherit;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.btn-form {
  width: 100%;
}
