.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 25px 0;
  background-color: $color-dark;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-family: $font-ral;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  color: $color-light;
  text-decoration: none;
}

.phone {
  margin-left: 100px;
  font-size: 24px;
  line-height: 33px;
  color: $color-light;
  text-decoration: none;

  @media (max-width: $df-tablet) {
    margin-left: 10px;
  }

  @media (max-width: $df-mobile) {
    display: none;
  }
}

.phone-mobile {
  display: none;

  @media (max-width: $df-mobile) {
    display: block;
    padding-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}

.burger {
  display: none;

  @media (max-width: $df-tablet) {
    display: block;
  }
}

