.info {
  padding: 240px 0 140px 0;
  background-color: rgba($color-light, .2);

  @media (max-width: $df-tablet) {
    padding: 190px 0 90px 0;
  }

  @media (max-width: $df-mobile) {
    padding: 110px 0 60px 0;
    text-align: center;
  }
}

.info-inner {
  @include container;
}

.info-wrap {
  display: flex;

  @media (max-width: $df-mobile) {
    display: block;
  }
}

.info-content {
  flex-basis: 50%;
  padding-right: $indent-half-gap;

  @media (max-width: $df-mobile) {
    padding-right: 0;
  }
}

.info-title {
  margin-top: 0;
  font-family: $font-ral;
  font-size: 116px;
  line-height: 136px;
  font-weight: 300;
  color: $color-accent;

  @media (max-width: $df-tablet) {
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $df-mobile) {
    font-size: 54px;
    line-height: 63px;
  }
}

.info-text {
  font-size: 32px;
  line-height: 44px;
  color: $color-accent;

  @media (max-width: $df-tablet) {
    font-size: 24px;
    line-height: 33px;
  }

  @media (max-width: $df-mobile) {
    font-size: 18px;
    line-height: 25px;
  }
}

.info-media {
  flex-basis: 50%;
  padding-left: $indent-half-gap;

  @media (max-width: $df-mobile) {
    padding-left: 0;
  }
}

.info-photo-wrap {
  position: relative;

  @media (max-width: $df-mobile) {
    margin-bottom: 50px;
  }
}

.info-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: rgba($color-dark, .5);
}
