.order {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: rgba($color-light, .2);
}

.order-inner {
  @include container;
}

.order-title {
  @include title-h2;
}

.order-form {
  width: 66.66%;
  margin: 0 auto;

  @media (max-width: $df-tablet) {
    width: 100%;
  }
}
