.portfolio {
  padding-top: 240px;
  padding-bottom: 130px;
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include title-h2;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$indent-half-gap;
  margin-right: -$indent-half-gap;
}

.portfolio-item {
  flex-basis: 33.33%;
  padding: $indent-half-gap;
}
